html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.container{
    padding-top: 7%;
}
/* nav section */

.navbar{
    position: sticky;
    top: 0;
    z-index: 10;
}
nav{
    position: sticky;
}
.bg-inverse{
    background-image: linear-gradient(to right,#ab2ebb ,#632586);
}
.navbar-brand img{
    width: 150px;
}
.navbar-nav li a{
    color: #fff;
}
/* Home section */
#Home-section {
    background-image: linear-gradient(to right,#ab2ebb ,#632586);
}
.play-botton{
    width: 10%;
}

#Home-section h1,#Home-section p,#Home-section a{
    color: #fff;
    text-decoration: none;
    padding: 2%;
}
.img-responsive{
    width: 80%;
}
/*  SERVICES SECTION    */
#services-section img{
    width: 20%;
}
.title{
    padding: 5%;
}
.title::before{
    content: '';
    height: 10px;
    width: 50px;
    display: block;
    background: #632586;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(45px);
    
}
.title::after{
    content: '';
    height: 5px;
    width: 200px;
    display: block;
    background: #632586;
    margin-left: auto;
    margin-right: auto;
    
}
@media(max-width:900px ) {
    .title::before{
        transform: translateY(38px);
    }

}
.btn-primary{
    border-radius: 20px;
    background-image: linear-gradient(to right,#ab2ebb ,#632586);
    border: none;
}
/*  TESTIMONIAL SECTION  */
#social-media-section{
    padding-bottom: 10%;
}
#testimonial-section .col-md-6{
    border-left: 4px dotted #632586;
    
}
.rounded-circle{
    width: 15%;
    float: left;
    padding-right: 2%;
}
/*  SOCIAL MEDIA SECTION */
#social-media-section img{
    width: 5%;
}
@media(max-width:900px ) {
    #social-media-section img{
        width: 15%;
    }   

}
#social-media-section img:hover{
    transform: translateY(-15px);
    transition: 0.5s;
}
/*  FOOTER SECTION     */
#footer-section{
    background-image: linear-gradient(to right,#ab2ebb ,#632586);
}
#footer-section .container{
    padding-bottom: 5%;
}
#footer-section p {
    color:#fff;
    padding-top: 2%;
    cursor: pointer;
}
#footer-section h4{
    color: #fff;
}
#footer-section button{
    margin-top: 5%;
}
#footer-section .fa{
    width: 15%;
    height: 15%;
    font-size: 25px;
    margin-right: 5px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 5px;
    border-radius: 2px;
    background-image: linear-gradient(to right,#ab2ebb ,#632586);
}

